<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lujicar´s</title>
    <link rel="stylesheet" href="Index.css">
    <!--Iconos de la caja-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="#" class="logo">Luji<span>car's</span></a>
            <!--Nav List-->
            <ul class="navbar">
                <li><a href="#Inicio" class="active">Inicio</a></li>
                <li><a href="#home">Productos</a></li>
                <li><a href="#Nosotros">Nosotros</a></li>
                <li><a href="#Contactenos">Contactenos</a></li>
                <li><a href="#Inicia">Inicia Sesion</a></li>
            </ul>
            <!--Buscador-->
            <i class='bx bx-search' id="search-icon"></i>
            <!--Box-->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Busque Aqui su producto..">
            </div>
        </div>
    </header>
    <!--Inicio-->
    <section class="home" id="home">
        <div class="home-text">
            <h1>Nosotros tenemos todo lo <br>que tu <span> Carro </span> necesita </h1>
            <p>Somos un emprendimiento Colombiano especializado en la venta <br> de autopartes, asi como en la
                realización de mantenimientos <br> y la instalación de componentes para vehiculos.</p>
            <!--Inicio Boton-->
            <a href="#" class="btn">Mostrar más</a>
        </div>
    </section>
            <!--Cars-->
 <section class="cars" id="cars">
    <div class="heading">
        <span>Tipos Autopartes</span>
        <h2>Diferentes autopartes que tenemos</h2>
        <p>Pueden visualizar la variedad de autopartes que tenemos y las diferentes marcas </p>
    </div>
    <!--Container de cars-->
    <div class="cars-container container">
    <!--Box 1-->
    <div class="box">
        <img src="img/luces.jpg" alt="">
        <h2>Farolas</h2>
    </div>

    <!--Box 2-->
    <div class="box">
        <img src="img/espejos.webp" alt="">
        <h2>Espejos</h2>
    </div>

    <!--Box 3-->
    <div class="box">
        <img src="img/puertas.jpg" alt="">
        <h2>Puertas</h2>
    </div>

    <!--Box 4-->
    <div class="box">
        <img src="img/guardafangos.jpg" alt="">
        <h2>Guardafangos</h2>
    </div>
        <!--Box 5-->
        <div class="box">
        <img src="img/sillas.jpeg" alt="">
        <h2>Forro para sillas</h2>
    </div>
        <!--Box 6-->
    <div class="box">
        <img src="img/radiador.jpg" alt="">
        <h2>Radiador</h2>
    </div>
</div>
</section>
<!--Nosotros-->
<section class="about container" id="about">
    <div class="about-img">
        <img src="img/about.png" alt="">
    </div>
    <div class="about-text">
        <span>Nosotros</span>
        <h2>Empresa colombiana <br> especializado en autopartes</h2>
        <p>Somos un emprendimiento Colombiano especializado en la venta <br> de autopartes, asi como en la
            realización de mantenimientos y la instalación de componentes para vehiculos.</p>
        <!--Boton Nosotros-->
        <a href="" class="btn">Leer más</a>
    </div>
</section>
<!--Partes seccion-->
<section class="parts" id="parts">
    <div class="heading">
        <span>Descuentos</span>
        <h2>Algunos descuentos que no te puedes perder</h2>
        <p>Hacemos ofertas y desceuntos especiales por ser clientes nuevos y registarase</p>
    </div>
    <!--Partes container-->
    <div class="parts-container container">
        <!--Box 1-->
        <div class="box">
            <img src="img/part1.png" alt="">
            <h3>repuesto</h3>
            <span>$85.000</span>
            <i class='bx bxs-star'>(5 vistas)</i>
            <a href="#" class="btn">Comprar ahora</a>
            <a href="#" class="details">Mirar Dtalles</a>
        </div>

        <!--Box 2-->
        <div class="box">
            <img src="img/part2.png" alt="">
            <h3>repuesto</h3>
            <span>$85.000</span>
            <i class='bx bxs-star'>(9 vistas)</i>
            <a href="#" class="btn">Comprar ahora</a>
            <a href="#" class="details">Mirar Dtalles</a>
        </div>

        <!--Box 3-->
        <div class="box">
            <img src="img/part3.png" alt="">
            <h3>repuesto</h3>
            <span>$85.000</span>
            <i class='bx bxs-star'>(8 vistas)</i>
            <a href="#" class="btn">Comprar ahora</a>
            <a href="#" class="details">Mirar Dtalles</a>
        </div>

        <!--Box 4-->
        <div class="box">
            <img src="img/part4.png" alt="">
            <h3>repuesto</h3>
            <span>$85.000</span>
            <i class='bx bxs-star'>(38 vistas)</i>
            <a href="#" class="btn">Comprar ahora</a>
            <a href="#" class="details">Mirar Dtalles</a>
        </div>

        <!--Box 5-->
        <div class="box">
            <img src="img/part5.png" alt="">
            <h3>repuesto</h3>
            <span>$85.000</span>
            <i class='bx bxs-star'>(15 vistas)</i>
            <a href="#" class="btn">Comprar ahora</a>
            <a href="#" class="details">Mirar Dtalles</a>
        </div>

        <!--Box 6-->
        <div class="box">
            <img src="img/part6.png" alt="">
            <h3>repuesto</h3>
            <span>$85.000</span>
            <i class='bx bxs-star'>(5 vistas)</i>
            <a href="#" class="btn">Comprar ahora</a>
            <a href="#" class="details">Mirar Dtalles</a>
        </div>
    </div>
</section>
<!--Contactenos container-->
<section class="formulario" id="formulario">
<form action="" method="POST">
    <h2>Contáctenos</h2>
    <div class="input-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" placeholder="Nombre" required autofocus>

        <label for="phone">Teléfono</label>
        <input type="tel" name="phone" id="phone" placeholder="Teléfono"required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Correo Electrónico"required>

        <label for="message">Mensaje</label>
        <textarea type="text" name="message" id="message" placeholder="Mensaje"required></textarea>

        <div class="form-txt">
            <a href="#">Política de privacidad</a>
            <a href="#">Terminos y condiciones</a>
        </div>

        <input class="btn1" type="submit" value="Enviar">
    </div>
</form>
</section>
<!--Footer-->
<section class="footer">
    <div class="footer-container container">
        <div class="footer-box">
            <a href="#" class="logo">Luji<span>car's</span></a>
            <div class="social">
                <a href="#"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="#">Inicio</a>
                <a href="#">Productos</a>
                <a href="#">Nosotros</a>
                <a href="#">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>
            <div class="footer-box">
                <h3>Contactenos</h3>
                <a href="#">Colombia</a>
                <a href="#">Estados Unidos</a>
            </div>
        </div>
    </div>
</section>
<!--Copyright-->
<div class="copyright">
    <p>&#169; CarpoolVenom todo reservado </p>
</div>

    <!--Link deL JS-->
    <script src="main.js"></script>
</body>
</html>